:root {
   --main-theme-color: #f68e13;
}

body {
  background-color: white;
}

header {
	background-color: var(--main-theme-color);
}

main {
	display: flex;
}

.content-wrapper {
	width: 70%;
}

.side-navigation {
	width: 25%;
}

.views-row {
	margin-top: 20px;
}
