:root {
   --main-theme-color: #f68e13;
}

body {
  background-color: white;
}

header {
	background-color: var(--main-theme-color);
}

main {
	display: flex;
}

.content-wrapper {
	width: 70%;
	margin-left: 15px;
}

.side-navigation {
	width: 20%;
	margin-top: 50px;
	margin-left:20px;
	background-color: var(--main-theme-color);
}

.views-row {
	margin-top: 60px;
	margin-bottom: 60px;
}

.menu-item a {
	color: white;
}

.menu-item > li > a:hover,
.menu-item > li > a:focus {
	background-color: transparent;
	color: #f3f3f3;
}
